body {
    font-family: Arial, sans-serif;
    background-color: #FFA500;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flashcard {
    border: 1px solid #FF8C00;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.flashcard p {
    margin: 0;
}

.button-group {
    margin-top: 20px;
    text-align: center;
}

.btn {
    background-color: #FF8C00;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #FFA500;
}

