
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #FFE4B2; 
    color: black; /* black text color */
    font-family: Arial, sans-serif;
}

/* START OF BRIAN NAVBAR */
.navbar {
    background-color: #FFA500;
    z-index: 1000;
}

.navbar .logo {
    text-indent: 40px;
    display: inline-block;
    color: white;
    padding: 25px;
    font-size: 20px;
    margin-bottom: 4px
}
.navbar img {
    position: relative;
    top: 17px; /* Moves 20px down from its normal position */
    right: 260px; /* Moves 30px right from its normal position */
}
/* This portion puts the links on the right side*/
.nav-links {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 50px;
}
/* This portion puts all of the links in line with each other*/
.nav-links li {
    display: inline;
}
/* This portion sections each button into their own space*/
.nav-links li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 35px 20px;
}
/* This portion creates a highlight feature for each button on the navbar*/
.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}

/* This portion makes sure that when hovering over the buttons, the highlited region stays within the navbar */
.navbar:after {
    content: "";
    display: table;
    clear: both;
}
/* END OF BRIAN NAVBAR */


/* Main styles */
.hero {
    background-color: #F5F5F5;
    color: #333;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.button-group {
    margin-top: 20px; /* Adjust spacing idk which is a good one */
}

.button-group .btn {
    margin-right: 10px;
}

.btn:hover {
    background-color: #f57c00;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 20px;
}

.feature {
    text-align: center;
}

.feature img {
    height: 100px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

